<div class='wrapper fastquery'>
    <div class='container flex-container cnw gap querytitle'>
        <h1 id='queryh'></h1>
        <input type='text' id='queryinp' placeholder='Куда пойдем?' />
        <input
            type='button'
            id='querybtn'
            value='Отправляемся'
            class='strong'
        />
    </div>
</div>