<main class='wrapper flex-container cnw'>
    <div id='form' class='container flex-container cnw'>
        <form action='' method='post' class='flex-container cnw gap'>
            <input
                type='text'
                name='username'
                id='usernameinp'
                placeholder='Username'
                required
            />
            <input
                type='password'
                name='password'
                id='passwordinp'
                placeholder='Password'
                required
            />
            <input type='submit' class='strong' value='Log In' id='loginbtn' />
        </form>
    </div>
</main>